<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root Page</title>
</head>
<body style="text-align: center">
<h1>Root Page</h1>
<div>
    <h2>
        <a href="{% url 'portfolio' %}">Portfolio</a><br><br>
        <a href="{% url 'learning_context' %}">Context</a><br><br>
        <a href="{% url 'u_boots' %}">Using Bootstrap</a><br><br>
        <a href="{% url 'commons_student' %}">Template Inheritance</a><br><br>
        <a href="{% url 'crud_student' %}">CRUD</a>
    </h2>

</div>
</body>
</html>